In [1]:
import numpy as np 
import pandas as pd
import matplotlib as plt 
import seaborn as sns 
import plotly.express as px

In [2]:
df= pd.read_csv('mcp 1.csv')
df.shape

(5000, 19)

In [3]:
df.describe(include='all')

,Campaign_ID,Channel,Product_Category,Region,Budget,Spend,Impressions,Clicks,CTR,Conversions,CR,Revenue,ROI,Duration,Start_Date,End_Date,Customer_Satisfaction,Campaign_Effectiveness,Market_Segment
count,4741,4746,4733,4739,4.500000e+03,4.501000e+03,4.496000e+03,4514.000000,4502.000000,4506.000000,4504.000000,4.491000e+03,4505.000000,4521.000000,4741,4743,4508.000000,4510.000000,4738
unique,4741,6,5,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,366,366,NaN,NaN,3
top,CAM0001,Billboard,Electronics,Kuala Lumpur,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11/9/2023,7/7/2023,NaN,NaN,High
freq,1,990,978,988,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24,23,NaN,NaN,1601
mean,NaN,NaN,NaN,NaN,3.196766e+05,2.754637e+05,6.050865e+05,27467.000985,0.585820,5591.891502,0.556345,5.962208e+05,2.816823,200.590123,NaN,NaN,3.491172,6.418550,NaN
std,NaN,NaN,NaN,NaN,7.511176e+05,3.985757e+05,1.643209e+06,23203.538244,0.800421,5629.011928,0.580404,7.834836e+05,2.769284,173.398322,NaN,NaN,4.180570,7.773072,NaN
min,NaN,NaN,NaN,NaN,1.001400e+04,1.000000e+00,1.593000e+03,104.000000,0.000500,13.000000,0.000300,0.000000e+00,0.000000,1.000000,NaN,NaN,1.000000,1.000000,NaN
25%,NaN,NaN,NaN,NaN,1.379872e+05,1.113680e+05,2.624278e+05,12713.750000,0.250425,2604.250000,0.261425,2.574585e+05,1.270000,94.000000,NaN,NaN,2.000000,3.000000,NaN
50%,NaN,NaN,NaN,NaN,2.659450e+05,2.292810e+05,5.089675e+05,26232.000000,0.500150,5076.500000,0.507450,5.093340e+05,2.610000,188.000000,NaN,NaN,3.000000,6.000000,NaN
75%,NaN,NaN,NaN,NaN,3.855895e+05,3.445920e+05,7.663295e+05,38618.250000,0.760400,7578.000000,0.755375,7.717310e+05,3.830000,278.000000,NaN,NaN,4.000000,8.000000,NaN
max,NaN,NaN,NaN,NaN,4.175610e+07,4.317430e+06,9.991660e+07,250409.021300,9.570650,67712.567350,7.369659,9.717200e+06,29.526004,1911.832921,NaN,NaN,46.055439,88.914949,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 19 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Campaign_ID             4741 non-null   object
 1   Channel                 4746 non-null   object
 2   Product_Category        4733 non-null   object
 3   Region                  4739 non-null   object
 4   Budget                  4500 non-null   float64
 5   Spend                   4501 non-null   float64
 6   Impressions             4496 non-null   float64
 7   Clicks                  4514 non-null   float64
 8   CTR                     4502 non-null   float64
 9   Conversions             4506 non-null   float64
 10  CR                      4504 non-null   float64
 11  Revenue                 4491 non-null   float64
 12  ROI                     4505 non-null   float64
 13  Duration                4521 non-null   float64
 14  Start_Date              4741 non-null   object
 15  End_Date                4743 non-null   object
 16  Customer_Satisfaction   4508 non-null   float64
 17  Campaign_Effectiveness  4510 non-null   float64
 18  Market_Segment          4738 non-null   object
dtypes: float64(12), object(7)
memory usage: 742.3+ KB

In [5]:
df.head(5)

,Campaign_ID,Channel,Product_Category,Region,Budget,Spend,Impressions,Clicks,CTR,Conversions,CR,Revenue,ROI,Duration,Start_Date,End_Date,Customer_Satisfaction,Campaign_Effectiveness,Market_Segment
0,CAM0001,Billboard,Fashion,Kuala Lumpur,484341.0,197038.0,545901.0,NaN,0.0785,7993.0,0.3414,849005.0,0.64,212.0,2/3/2023,23/12/2023,3.0,3.0,Medium
1,CAM0002,NaN,Health,Sarawak,468792.0,33743.0,527513.0,4130.0,0.9479,9459.0,NaN,921078.0,3.78,29.0,NaN,NaN,3.0,7.0,Medium
2,CAM0003,Radio,Electronics,Penang,10487.0,6745.0,806911.0,12209.0,NaN,7168.0,0.0517,51142.0,3.64,74.0,12/4/2023,20/10/2023,1.0,2.0,Medium
3,CAM0004,Email,Electronics,Penang,345431.0,329112.0,108570.0,34391.0,0.6157,7190.0,0.3579,191887.0,2.64,67.0,24/4/2023,26/1/2023,5.0,6.0,High
4,CAM0005,Radio,Fashion,Kuala Lumpur,322345.0,34365.0,799855.0,13056.0,NaN,1794.0,0.0544,167241.0,1.02,40.0,10/1/2023,1/1/2023,5.0,6.0,Low

In [15]:
df.isnull().sum()

Campaign_ID               259
Channel                   254
Product_Category          267
Region                    261
Budget                    500
Spend                     499
Impressions               504
Clicks                    486
CTR                       498
Conversions               494
CR                        496
Revenue                   509
ROI                       495
Duration                  479
Start_Date                259
End_Date                  257
Customer_Satisfaction     492
Campaign_Effectiveness    490
Market_Segment            262
dtype: int64

(5000, 19)